.menu{
    display: flex;
    list-style: none;
    background-color: rgb(175, 127, 238);
    padding: 15px;
    border-bottom: 2px solid rgb(0, 204, 255);
}
.item{
    padding: 12px;
    color: rgb(202, 70, 191);
    text-decoration: none;
    
} 
.item:hover{
 background-color: rgb(202, 70, 191);
 color: rgb(175, 127, 238);
}
.wellcome{
    margin-left: auto;
    color: yellow;
}
